<div style="padding: 16px;">

  <h2>Education</h2>
  <h3 style="margin-top:16px;">Ph.D. Human Factors Psychology</h3>
  <div>
    <ul>
      <li>2001, Old Dominion University, Norfolk, VA</li>
      <li>Title of Dissertation: Perceptual Cues And Subjective Organization In A Virtual Information Workspace</li>
      <li>Chairperson: Mark W. Scerbo, Ph.D.</li>
      <li>Minor: Computer Simulation / Applications of Artificial Neural Networks</li>
    </ul>

  </div>

  <h3 style="margin-top:16px;">M.S. Psychology</h3>
  <div>
    <ul>
      <li>1997, Old Dominion University, Norfolk, VA.</li>
      <li>Title of Thesis: The Effects of Task Partitioning and Computer Skill Level on Operator Engagement and
        Performance in an Adaptive, Biocybernetic Environment.</li>
      <li>Chairperson: Mark W. Scerbo, Ph.D.</li>
      <li>1997 Thomas K. Dempsey Scholarship Award Winner - outstanding student research paper in the Human Factors
        field</li>
    </ul>
  </div>

  <h3 style="margin-top:16px;">B.S. Psychology</h3>
  <div>
    <ul>
      <li>1992, Virginia Tech, Blacksburg, VA</li>
    </ul>
  </div>
</div>