<div style="padding: 16px;">

  <h2>Presentations</h2>

  <p>Barhydt, R., Palmer, M. T., & Eischeid, T. M. (2004). Development and Evaluation of an Airborne Separation
    Assurance System for Autonomous Aircraft Operations through Consideration of Pilot Performance, Flight Deck
    Integration, and Avionics Architecture. To be presented at ICAS Congress, 2004.</p>

  <p>Barhydt, R., Eischeid, T. M., Palmer, M. T., & Wing, D. J. (2003). Regaining Lost Separation in a Piloted
    Simulation of Autonomous Aircraft Operations. In Proceedings of the 5th USA/Europe Air Traffic Management
    R&D Seminar, Budapest, Hungary.</p>

  <p>Barhydt, R., Eischeid, T. M., Palmer, M. T., & Wing, D. J. (2003). Use of a prototype airborne separation
    assurance system for resolving near-term conflicts during autonomous aircraft operations. In Proceedings of
    the AIAA conference on Guidance, Navigation, and Control. Austin, TX.</p>

  <p>Oseguera-Lohr,, R. M., Lohr, G. W., Abbott, T. S., Nadler, E. D., & Eischeid, T. M. (2003). Evaluation Of A
    Tool For Airborne-Managed In-trail Approach Spacing (NASA Technical Paper 2003-000000). Hampton, VA: NASA
    Langley Research Center.</p>

  <p>Helbing, K., Eischeid, T. M., & Oseguera-Lohr, R. M. (2002). The effects of an airborne inter-arrival spacing
    tool on pilot workload and acceptability. In Proceedings of the Human Factors and Ergonomics Society 46th
    Annual Meeting. Santa Monica, CA.</p>

  <p>Eischeid, T. M., Adams, R. J., & Duley, J. (2002). A Human Centered Approach to the Assessment of the
    Feasibility of a Distributed Air-Ground Concept. Presentation given at the IAIPT J12 Technical Interchange
    Meeting, Washington DC.</p>

  <p>Eischeid, T. M. & Scerbo, M. W. (2002). Perceptual cues and subjective organization in a virtual information
    workspace. In Proceedings of the Human Factors and Ergonomics Society 46th Annual Meeting. Santa Monica,
    CA</p>

  <p>Eischeid, T. M., Scerbo, M. W., & Freeman, F. G. (1998). The effects of task partitioning and computer skill
    on engagement and performance with an adaptive, biocybernetic system (A follow-up study). Paper Presented at
    the 42nd Annual Meeting of the Human Factors and Ergonomics Society, Santa Monica, CA.</p>

  <p>McNamara, D. S., Eischeid, T. M., & Hayes, B. C. (1997, November). Optimizing skill training: Effects of
    contextual interference and prior knowledge. Presented at the 38th annual meeting of the Psychonomic Society
    Inc., Chicago, IL.</p>

  <p>Eischeid, T. M., McNamara, D. S., & Hayes, B. C. (1997). Effects of presentation order during training on
    subsequent retention of multiplication problems. Presentation given at the 75th annual meeting of the
    Virginia Academy of Science, Blacksburg, VA.</p>

  <p>Scerbo, M. W., Ceplenski, P. J., Krahl, K., & Eischeid, T. M. (1996). Performance on a team tracking task
    with human and computer teammates. In Proceedings of the Human Factors and Ergonomic Society 40th Annual
    Meeting, Santa Monica, CA.</p>


  <p>Book Chapters and Articles</p>

  <p>Eischeid, T. M., Scerbo, M. W., & Freeman, F. G. (1998). The effects of task partitioning and computer skill
    on engagement and performance with an adaptive, biocybernetic system. In M. W. Scerbo and M. Mouloua (Eds.),
    Automation Technology and Human Performance: Current Research and Trends. Hillsdale, NJ: Lawrence Erlbaum
    Associates.</p>
</div>