

<div class="container-fluid" style="margin-top:16px;">




    <h2 style="margin-bottom: 32px;">Water Valve Charts</h2>


    <p><a class="btn btn-secondary" href="https://github.com/scheid/water-valve-charts">Go to GitHub Repository</a></p>


    <p>Water Valve Chart (WVC) visualizes logical relationships, and is capable of representing very complex sets of logical statements pictorially. The flow starts at one side and progresses across. The flow could also start at the top and progress downward.</p>

  <p>The first example below illustrates the statement A AND B. Using the analogy of water and gates/locks, both A and B must be open (true) in order for the water to flow through. If you keep this water analogy in mind, even the complex graphs are much easier to understand than the same logic represented in more traditional text based methods.</p>

  <div><img src="assets/images/water-valve-demo-1.svg"/></div>


  <p>This example illustrates the statement A OR B. Coming into the block, the “water” splits to flow to both the A and B gates. If either A or B is open (true), then the “water” will flow to the other side of the graph.</p>


  <div><img src="assets/images/water-valve-demo-2.svg"/></div>




  <div> <a class="btn btn-outline-secondary" href="https://scheid.github.io/water-valve-charts/">More. . .</a></div>

</div>
