
<div class="container-fluid">



    <h2 style="margin-bottom: 32px;">Health Dials</h2>
  <div class="row" style="margin-bottom: 32px;">
    <!-- <div class="col col-auto"> <a class="btn btn-secondary" href="./demo/dial-graph/">Working Demo</a></div> -->
      <div class="col col-auto"><a class="btn btn-secondary" href="https://github.com/scheid/dial-graph">Go to GitHub Repository</a></div>
    <div class="col"></div>
     </div>

    <p>Health dials extend a vein
      of past research in aviation, and more effectively use emergent features and global cognitive
      processing than hGraph or other designs.</p>

      <p>
      The image below illustrates the health dial design.  Health metrics are represented
      using a simplified dial,
      and all dials in a set are arranged to be aligned for normal values.  For example, a blood pressure of 120/80 for an adult
      would be normalized to have a health dial pointer that is exactly aligned
      with "normal" (see (a) in the image).    The maximum misalignment would be 90
      degrees from the aligned position. </p>

    <p>The primary arrangement is a 1 x n, where only a single line would emerge visually.  The values shown in (a)
      illustrates measures for a healthy person, and thus there is a single unbroken line
      emerging from the overall display.</p>

    <p>By contrast, (b) and (c) show values for a person with a number of health metrics that are out of normal ranges.  (b) shows a binary approach to dial alignment, where the dial
      is either completely aligned or maximally out of alignment, based on in range or out
      of range values, respectively.  (c) illustrates a continuous approach to dial
      alignment, where the exact amount of deviation from ideal alignment is based on the
      normalized score. The two-position format affords
      the best detection of non-nominal values, but does not indicate the amount of
      deviation from normal. The continuous position format allows better determination
      of the exact normalized values at the expense of adding in some visual noise and
      perhaps lowered detection.</p>

    <p>Note that the subcomponents
      of blood pressure and cholesterol are nested within the outer circle and will
      still align exactly with the global vertical “normal” line when they are within
      normal range.</p>

        <p>Formal research still needs to be
      conducted to determine a) the effectiveness of the health dial design,
      b) if the check-reading research results transfer to the healthcare
      setting for clinician use, and c) if the visualization can be readily
      understood without training such as would be the case with consumers
      using a patient portal.</p>

    <div>

      <img src="assets/images/health-dial-examples.png"/>

    </div>



</div>
