
<p>This is an NPM package available here: <a href="https://www.npmjs.com/package/data-synthesizer">https://www.npmjs.com/package/data-synthesizer</a></p>

<p>Data changes everything.</p>

<p>The addition of realistic data to a design can either validate it or render it inferior. Creating a prototype in Angular allows me to very easily add realistic data to scale and test the design.  I have changed almost every design that I have initially created after I add in the appropriate scale and type of data.
</p>

<p>Often with development, I will ask them for the data that will be available for various user tasks and screens. This helps me understand what data is available, and I can then test with users to rank order the data fields, and also determine if there is useful information to users not captured in the current data schemas. </p>

<p>I created the data synthesizer tool specifically to make it easier for me to include realistic data in my own designs.</p>