<h2 style="margin-bottom: 32px;">Data Synthesizer</h2>



  <img style="float: right; clear: right;padding: 32px;" src="assets/images/data-synthesizer-thumbnail.png"/>


<p>An Angular service that can randomly generate large data sets in real time.  The data generation is highly and easily configurable, and very fast, using a Web Assembly module that I developed for random number generation.</p>

<p>I maintain a public NPM package for the data synthesizer, which can be found at: <a href="https://www.npmjs.com/package/data-synthesizer">https://www.npmjs.com/package/data-synthesizer</a></p>


<p>The addition of realistic data to a design can either validate it or cause you to rethink the design entirely.
  Creating prototypes in Angular combined with the data synthesizer allows you to very easily add realistic data to scale and test the design.
</p>

<p>Often I will ask a development team for representative or real data for various user tasks and screens. This
  helps me understand what data is available, and I can then interview users to get a better sense of the information hierarchy as users perceive it. In addition,
  if my user research shows that certain information is important to users but not provided by the back end API, then I
can work with development to get the right data.</p>


<p>
  The idea for this originated with a product I was designing. I had access to usage analytics data for the product
  and was trying to incorporate realistic data into an Angular prototype.  I had quantified various data characteristics, such as status indications on prescription orders.  The amount of data needed was prohibitive for manually creating data sets, and so the data synthesizer evolved out of that need.

</p>

<p>I decided that others could find this useful as well, and so I now maintain it on the NPM repository.</p>
