

<p>
  The idea for this originated with a product I was designing. I had access to usage analytics data for the product
  and was trying to incorporate realistic data into an Angular prototype.  For example, I knew that there were certain proportions
  of some fields in the data, such as status indications on prescription orders.  The data synthesizer evolved out of that need.
   I decided that others could find this useful as well, and so I now maintain it on the NPM repository.

</p>

<p>
My motivation for getting usage analytics data into a prototype is my experience that data can change everything about a design.

</p>

<p>The addition of realistic data to a design is a test that can either validate it or cause you to re-think the design entirely.
  Creating prototypes in Angular allows me  to very easily add realistic data to scale and test the design.  I have
  changed almost every design that I have initially created after I add in an appropriate scale and type of data.
</p>

<p>Often I will ask a development team for the data that will be coming from the API for various user tasks and screens. This
  helps me understand what data is available, and I can then test with users to rank order the data fields. In addition,
  if my user research shows that certain information is important to users but not provided by the back end API, then I
can work with development to get the right data.</p>


<p>The data synthesizer can be found on NPM here: <a href="https://www.npmjs.com/package/data-synthesizer">https://www.npmjs.com/package/data-synthesizer</a></p>


