
<div class="container-fluid">


<h2 style="margin-bottom: 32px;">Carequality Research and UI Design</h2>


 <!-- <div class="d-block d-md-none"><img style="width: 75vw" src="assets/images/care-quality-design-2.png"/></div> -->

<!--
<div class="row justify-content-start no-gutters" style="margin-bottom: 32px;">
  <div class="col col-auto"> <a class="btn btn-secondary" href="assets/care-quality.pdf">UI designs as pdf</a></div>
  <div class="col col-auto" style="padding-left: 16px"> <a class="btn btn-secondary" href="assets/care-quality.sketch">UI Designs as Sketch file</a></div>
</div>
-->

<p>The CareQuality application was a new product for internal configuration and management of
customers on the <a href="https://carequality.org/">CareQuality network</a>.
</p>

  <p>My role on this was the UI design of all parts of the CareQuality application; the user interface
    was to be written in Angular.  </p>


  <p>For requirements, project manager gave me a combination of Word documents and Balsamiq mock ups. Some requirements also sent via email.

    So, I often needed to deconstruct Balsamiq designs in order to understand requirements</p>


  <div class="row justify-content-center" style="margin-bottom: 32px;margin-top:32px">
    <div class="col-md-6 col-10" >
      <img src="assets/images/carequality-balsamiq.png" style="width: 100%"/>
    </div>
  </div>



    <div class="row align-items-center" style="margin-bottom: 32px;margin-top:32px">
      <div class="col col-auto"><img src="assets/images/person-scratch.png" style="height: 100px"/></div>
      <div class="col">For example in the screen shot above, I needed to first determine the user's task, which was to add a participant to a list of linked providers.
      </div>
    </div>



  <p>From the user's perspective this should involve just a simple text-based search for a provider (via an 'add' button in the screen shot below), and then just select to add them to the list.
  The screen shot below shows my design based on the wireframe and my reinterpretation of the requirement.</p>

  <div class="row justify-content-center" style="margin-bottom: 32px;margin-top:32px">
    <div class="col-md-8 col-12" >
      <img src="assets/images/carequality-linked-prov.png" style="width: 100%"/>
    </div>
  </div>

  <p>Some functionality changes and additions would come in during development and I would update the designs, calling out the work item number, as shown in the screen shot below.</p>



  <div class="row justify-content-center" style="margin-bottom: 32px;margin-top:32px">
    <div class="col-md-8 col-12" >
      <img src="assets/images/care-quality-pbi.png" style="width: 100%"/>
    </div>
  </div>



<p>The development team chose to use the <a href="javascript:void(0)" [routerLink]="'/starter-kit'">UI Starter Kit</a>  that I created. As this was the first team that I worked closely with on the starter kit, I learned how a team would actually
use the kit in a product. So, in parallel with the UI design work I was doing, I was also improving and streamlining
  the UI Starter Kit to better fit developers' usage of it. </p>

