
<h3>Carequality Design</h3>

https://carequality.org/

The CareQuality application was a new product for internal configuration and management of
customers on the CareQuality network.

The development team chose to use the UI starter kit that I created and that I also maintain.

Through working with the CareQuality team, numerous bugs were identified and fixed, and many new features were added to the starter kit.

As this was the first team that I worked closely with on the starter kit, I learned of the ways that a team would actually
use the kit in a product.  I tailored the starter kit to be more streamlined with UI development. For example, bugs are
inevitable, and getting an update to the development team should be as seamless as possible. I completely re-architected
the original starter kit delivery mechanism so that bug fixes and feature additions would cause no disruption in development.


My work with the CareQuality team has shown this current version works very well for delivering updates to the starter kit NPM packages.
Their development team would open an issue for a component, for example, and when I posted the package update, their team could incorporate
the update very easily using the standard NPM approach. This was shown repeatedly to work very effectively.  Similarly, their team would
propose new features, and for accepted features, I could simply post the package update and notify their team.

All of this both helped their team build a great product and helped improve the overall quality of the starter kit.
The more teams that use the starter kit, the better it will become.

