
<div class="container-fluid">


<h3 style="margin-bottom: 32px;">Carequality Research and UI Design</h3>

  <img  class="d-none d-md-block" style="float: right; clear: right;padding: 32px;width: 450px;max-width: 450px;" src="assets/images/care-quality-design-2.png"/>
  <div class="d-block d-md-none"><img src="assets/images/care-quality-design-2.png"/></div>


<div class="row justify-content-start no-gutters" style="margin-bottom: 32px;">
  <div class="col col-auto"> <a class="btn btn-secondary" href="assets/care-quality.pdf">View pdf of UI designs</a></div>
  <div class="col col-auto" style="padding-left: 16px"> <a class="btn btn-secondary" href="assets/care-quality.sketch">Download original Sketch file</a></div>
</div>

<p>The CareQuality application was a new product for internal configuration and management of
customers on the <a href="https://carequality.org/">CareQuality network</a>.
</p>

<p>The development team chose to use the <a href="javascript:void(0)" [routerLink]="'/starter-kit'">UI Starter Kit</a>  that I created and that I also maintain.</p>

<p>As this was the first team that I worked closely with on the starter kit, I learned how a team would actually
use the kit in a product. So, in parallel with the UI design work I was doing, I was also improving and streamlining
  the UI Starter Kit to better fit developers' usage of it. </p>



