<div class="container-fluid">
<h3>Patient Record Generator</h3>

<p>One of the challenges in healthcare IT User Interface design is knowing what the designs will look and behave like
  when populated with real data. The type and amount of data can greatly affect how usable and readable the designs are.
   </p>

<p>
  This is the motivation behind the patient data generator. I created this tool for designers creating static designs,
  and also for folks creating coded prototypes.  For static prototypes, you can download
  an SVG file of the patient record. For coded prototypes, you can download a json file containing the patient data.

  This tool uses techniques similar to a Monte Carlo simulation to create a realistic patient record.

  The generator is architected to be infinitely extensible through a set of data/configuration files (mostly csv files) that can all be edited to tweak the generator results.

</p>


  <h3>Live Examples</h3>

  <p>Here are some live examples from the patient generator. Note that for the json examples, your prototype can get
    the patient data directly from the generator service api; the json download here is mainly for demo purposes.</p>
  <p>You will notice that the SVG files are plain and unformatted. This is intentional to allow the designer to easily customize the text.</p>

  <p style="font-weight: bold"><a href="/api/patients/profile/hypertension/svg/download">Patient profile for hypertension - SVG File</a></p>
  <p style="font-weight: bold"><a href="/api/patients/profile/hypertension/json/download">Patient profile for hypertension - JSON File</a></p>

  <p style="font-weight: bold"><a href="/api/patients/profile/diabetes/svg/download">Patient profile for diabetes - SVG File</a></p>
  <p style="font-weight: bold"><a href="/api/patients/profile/diabetes/json/download">Patient profile for diabetes - JSON File</a></p>

  <p style="font-weight: bold"><a href="/api/patientlist/svg/download?fulldemographics=true">List of Patients - SVG File</a></p>
  <p style="font-weight: bold"><a href="/api/patientlist/json/download?fulldemographics=true">List of Patients - JSON File</a></p>

  <p>Note that you can click the same links above multiple times and the exact values in the resulting profile, and the patient names, are different. This is intentional, and is because the values are generated
    with a random number generator, and the values are always slightly different.  So, if you want 50 different diabetes patients, you can call the same url 50 times.</p>

  <p style="font-weight: bold;"> <a href="/api/patients/generate">Interactive Patient Record and List Generator</a></p>



  <h3>Details; how the generator works</h3>
  <p>
  The generation process starts with a problem profile, and the various parts of the record are created based on the profile. For example,
  using a diabetes profile, there are a certain number of problems defined, namely: diabetes mellitus, neuropathy, foot ulcer, elevated PSA, Upper Respiratory Infection, vitamin b, and iron.
  Obviously vitamin b and iron are considered more medications and not problems, so they are ignored for problems and only used
  when picked a medication.  As mentioned above, this profile definition can be edited and tweaked.
</p>

<p>For each problem in the profile, a specific ICD-10 item is selected from a file of all ICD-10 items that could be associate with the general
problem profile.  For example the profile problem 'diabetes mellitus' has about 150 specific ICD-10 problems to choose from. This design means that
each diabetes patient record will contain slightly different diabetes (and other) problems.</p>

<p>Also, for each profile problem, there is a medication file containing the appropriate medications prescribed for that problem. As with the
problems, there are many similar medications for each problem, so that each generated patient record would contain different medications for each problem.</p>

<p>This approach is true for all of the remaining parts of the record as well. A set of vital signs is defined for each profile as well,
based on the types of vitals usually collected for that type of patient.  Appropriate vital sign value ranges are defined, and a random value is generated
within that range. Specifically, the configuration file for the vital sign defines a mean and standard deviation, and then random, normally distributed
values are chosen based on that.  The mean value, for example, for a hypertension profile would be higher for blood pressure than for other
profiles.  Choosing random values in this way lends realism (because the values are a bit messy as in real life), and credibility (the values
  are believable for the patient profile).  The number of sets of vitals and the date intervals can also be controlled (e.g., if you want to include
a set of vitals every month for the past two years.</p>


<p>Patient demographic information is selected randomly from a set of about 15,000 fake patients.</p>


<p>All of the above factors combine to ensure that many patient records can be generated for the same profile, and they
will all be a bit different.</p>

<p>Finally, regarding performance, a single patient record can typically be generated in less than half a second. This is of course
system dependent, but the time would be approximately that.</p>



</div>
