<div class="container-fluid">
<h2 style="margin-bottom: 32px;">Patient Record Generator</h2>

<p>One of the challenges in healthcare IT User Interface design is knowing what the designs will look and behave like
  when populated with real patient data. The type and amount of data can greatly affect how usable and readable the designs are.

</p>
  <p>
  The types of patient data are wide ranging (problems, medications, allergies, lab results, vital signs, notes, etc.), and take on specific patterns of values for
  different disease profiles. Complex patients can have 20+ medications and problems.

  Also, real patient data almost always contains missing or incomplete values.

  To create believable patient profiles, hypothetical data has to be generated in a very specific way.
   </p>

<p>
  I created the patient generator for both designers and for development teams.

  For static designs created in Sketch, Illustrator, or Figma, an SVG file format of the patient record is available.  For coded prototypes, a simple json schema is available.
</p>

  <p>
  The patient generator uses techniques similar to a <a href="https://en.wikipedia.org/wiki/Monte_Carlo_method">Monte Carlo simulation</a> to build up all of the parts of a patient record.

  The generator is architected to be extensible through editable configuration files.
  Any number of new patient profiles can be created and existing ones can all be edited to tweak the generator results.

</p>

  <p>It is written entirely using the <a href="https://swift.org/about/">Swift programming language</a> (with the <a href="https://vapor.codes/">Vapor framework</a>) and it runs on an Ubuntu Linux server.</p>


  <h3>Live Examples</h3>

  <p>Here are some live examples from the patient generator.</p>
  <p>The SVG files are intentionally plain and unformatted to allow the designer to easily customize the text for their own styles.</p>


  <div class="row">

    <div class="col">
  <div class="list-group">
    <a  class="list-group-item list-group-item-action"  href="/api">Patient Generator Home Page</a>
    <a  class="list-group-item list-group-item-action"  href="/api/patient/profile/hypertension/svg">Hypertension Patient - SVG</a>
    <a  class="list-group-item list-group-item-action" href="/api/patient/profile/hypertension/json">Hypertension Patient - JSON</a>
    <a  class="list-group-item list-group-item-action"  href="/api/patient/profile/complexDiabetesHtnLipidGerd/svg">Complex patient - SVG</a>
    <a  class="list-group-item list-group-item-action"  href="/api/patient/profile/complexDiabetesHtnLipidGerd/json">Complex patient - JSON</a>


  </div>

    </div>
    <div class="col"></div>
  </div>


  <h3 style="margin-top: 16px">How the generator works</h3>
  <p>
  The generation process starts with a profile, which is a yaml file, and the various parts of the record are generated based on the contents of that profile.
    For example, a diabetes profile may have general problems defined:
    diabetes mellitus, neuropathy, foot ulcer, elevated PSA, and upper respiratory infection. Specific ICD-10 coded problems will be assigned at generation time. A medication can be linked to
    each of the problems as well.  The profile can also contain allergies, labs, vital signs, and encounters. All values can be tailored to be within certain ranges that make
    sense for the profile you are creating, and you can specify how the values might change over time.

</p>

<p>Vital sign and lab test value ranges are defined in the profile, and a random value is generated
within that range for each value.This lends realism, and credibility (the values
  are believable for the patient profile).  The number of sets of vitals/labs and the date intervals can also be controlled (e.g., if you want to include
a set of vitals every month for the past two years.</p>

  <p>The patient story is also a very important aspect of understanding and treating patients. The patient generator allows the story to be explicitly specified within a profile: how events occur over time
  in a patient's life.</p>

<p>Patient demographic information is selected randomly from a set of about 15,000 fabricated patients.</p>


<p>A single patient record can typically be generated in less than half a second.</p>



</div>
