
<h2 style="margin-bottom: 32px">Allscripts UX Poster Campaign</h2>
<p>
Our team's poster campaign attempted to educate Allscripts employees about the basic principles of design,
  user experience, and human factors. There were about 12 posters total, each with a different theme, with each
  person on the team choosing the theme for and creating their own poster. These were posted on walls in the company offices.
</p>

<p>I chose the theme of Cognitive Tax.</p>

<p>When printed, the posters were approximately 4 feet tall.</p>

<div style="margin: 32px;">
<img src="assets/images/CognitiveTax_poster_02_new.svg" style="border:1px solid silver; width: 500px;max-width: 600px"/>
</div>
