
<h2>Homecare Application Summative Usability Testing</h2>

<p>For this product, I served as the usability tester only. I traveled to a number of sites across the U.S., and tested
about 3 users at each site.</p>

<p>The link below will show you the final usability report that I created.</p>

<p>My approach to usability testing is to take copious notes, and observe as much as possible. During formative tests, I 
would ask many questions while the user is performing the task. Howerver during this summative test, I waited until after
each task to ask the user any questions. I was still able to take many notes during each task though.</p>

<p>As part of creating my report, I put all of my observations together and inevitably usability themes will emerge; perhaps a common point of confusion on part of the UI, or even a mismatch between the UI and how they do their job. For the final report, I would inlude the themes that cause
difficulty completing tasks, and are consistent across users.</p>

<p><a class="btn btn-secondary" href="./assets/homecare-summative-testing-results.pdf">View the Usability Testing Report</a></p>