
<div class="container-fluid">

<h2 style="margin-bottom: 32px;">Clinical Risk Items Web Application</h2>


<p>This is an example of a project in which I performed these roles:</p>

<ul>
  <li>Requirements gathering</li>
  <li>User research and exploration</li>
  <li>Iterations of prototyped designs using both Sketch and real code, with user and stakeholder feedback</li>
  <li>Front-end UI development in Angular</li>
  <li>Back-end development using Swift running on Ubuntu</li>
</ul>


<h3 style="margin-top: 32px;">Previous Process</h3>

<p>The previous process for patient safety issues used a complex and confusing Excel spreadsheet duplicated across product areas.</p>

<div style="margin-bottom: 32px;">
<img src="assets/images/clinical-risk-items/initial-spreadsheet.png" style="width: 95%;"/>
</div>

<h3 style="margin-top: 32px;">New Web-based Application</h3>

<p>I proposed a centralized web application that I would write in Angular to make the process much simpler for users to enter information, and also simpler for product administrators to get aggregated reports.</p>

<p>The web application solves all of the usability problems of the spreadsheet method. By hosting the application on an internal web server, all patient safety issues are now consolidated into
one place.

  <p>
  Any patient safety issue can quickly be located using the global search, or using the navigation organized by product area.

</p>

<p>I worked with stakeholders to rank order the information for a given safety item, and use that to determine what fields would be surfaced in the top level list.</p>


<div style="margin-bottom: 64px;text-align: center;">
<img src="assets/images/clinical-risk-items/web-app-1.png" style="width: 95%;border: 1px solid #dedede;" class="shadow"/>
</div>

<p>Entering a new patient safety issue is very easy and provides all necessary guidance to the user when and where they need it. And the user can progressively enter the risk and remediation
at a future time, as users do not always have that information initially. The design keeps the UI clean by not surfacing those data fields unless the user indicates they want to enter them.</p>

<div style="margin-bottom: 64px;text-align: center;">
<img src="assets/images/clinical-risk-items/web-app-2.png" style="width: 85%;border: 1px solid #dedede;" class="shadow"/>
</div>

<p>Here the user has indicated they want to enter initial risk values, and so that default page is shown here, with
the user selecting a value for 'initial likelihood'</p>
<div style="margin-bottom: 64px;text-align: center;">
<img src="assets/images/clinical-risk-items/web-app-3.png" style="width: 85%;border: 1px solid #dedede;" class="shadow"/>
</div>

  <p>For beginning users, they can check a checkbox to show help text for all of the fields. This clarifies the intent
  of all of the fields for new users, albeit at the expense of a bit noisier UI.</p>
<div style="margin-bottom: 64px;text-align: center;">
<img src="assets/images/clinical-risk-items/web-app-4.png" style="width: 85%;border: 1px solid #dedede;" class="shadow"/>
</div>


</div>
