<div class="container-fluid" style="margin-top:16px;">



  <img style="float: right; clear: right;padding: 32px;" src="assets/images/starter-kit-screen-thumbnail.png"/>


  <h2 style="margin-bottom: 32px;">UI Starter Kit</h2>


  <h4>What is it?</h4>

  <ul>
  <li>A collection of UI related functionality, provided as NPM packages</li>

  <li>Common styles, graphics, fonts, and UI components that can be used by developers across the company. I created Custom css/scss themes
  for the Kendo UI toolkit and for ngBootstrap so that developers can align with the UX guidelines simply by installing the theme.
  </li>

  <li>Using the NPM model allows developers
    to easily update packages with no disruption to their application development.</li>
  </ul>

  <h4>Why is it needed?</h4>
  <ul>
  <li>Products across Allscripts use different technologies and architectures, and not all products can completely align with the UX style guidelines. Different
    development teams need different combinations of packages. </li>

  <li>So, the starter kit is designed on a "cafeteria" model:
    use only the packages that are appropriate for your product.</li>
    </ul>

  <h3 style="margin-top: 32px;">Packages contained in the Starter Kit</h3>

  <table>
    <colgroup>
      <col width="150"/>
      <col width="*"/>
    </colgroup>
    <tr style="border-bottom: 1px solid #cacaca">
      <td>Customized Kendo Theme</td>
      <td>Numerous development teams use Kendo UI for Angular (<a href="https://www.telerik.com/kendo-angular-ui">https://www.telerik.com/kendo-angular-ui</a>),
        and so I created a custom Kendo UI theme that aligns with the UX Visual Guidelines.</td>
    </tr>

    <tr style="border-bottom: 1px solid #cacaca">
      <td>Custom Angular Components</td>
      <td>A number of components in our UX guidelines are not available in either the ngBootstrap or Kendo component set.
        These custom components fill that gap.</td>
    </tr>

    <tr style="border-bottom: 1px solid #cacaca">
      <td>UX Common Icon Set</td>
      <td>Our UX team has created a set of icons that are used across all of our products. I transformed all of the individual images
        into a web font (similar to how FontAwesome works), which is very easy for development to use and update as we add new icons.</td>
    </tr>

    <tr style="border-bottom: 1px solid #cacaca">
      <td>Fonts</td>
      <td>Our team wanted to ensure a consistent typography across applications, and chose Roboto as the font we would recommend. Typically, a web application
        may simply link to the Google fonts site to get the needed web font files. However,  many clients
        that use our products are not directly connected to the Internet. So I was able to obtain
        legal approval to distribute the font files with the web application to ensure the fonts would be available.</td>
    </tr>

  </table>


<!---
  <h3 style="margin-top: 32px;">Evolution</h3>


  <p>The starter kit started out as an all-in-one solution that contained both the front end and back end code needed to get up and running on a new web project;
  it was a complete Angular project that included client-side user authentication code and server side code that worked with the angular authentication code.
  The intent was to make it easy as possible for a dev team to immediately have all of the parts of a web project up and running.  Also, the assumption was
    that by having all of those parts already coded into a working project, it would further lessen development effort.</p>

  <p>However, this approach proved to be overly prescriptive.  No development team was starting a project from scratch; there is always existing back-end and/or front-end code to accommodate.
    This fact made an all-in-one starter kit impractical. Also, there is no company-wide mandate for web technologies or UI libraries to be used for web applications. As such, teams have incredible latitude in how they implement
  their solution.</p>

  <p>The current version of the starter kit still uses Git for version control, but now each repository is an independently installable NPM package, allowing
    for more natural dependency management. Also, the starter kit has been divided
  into packages based on my experience working with teams and how they want to consume the different parts. For example, each custom Angular component
  is in a package, our common icons are in another, our fonts are in another.  There is a package for a custom Kendo theme, and another
  package for the default bootstrap theme.  Also, the kit is currently structured to be as decoupled from specific angular versions as possible,
  so that Angular updates are much less likely to break any part of the kit.  And if one part of the kit does break, it is easier to fix because
  each of the packages can be independently updated.</p>
-->

</div>
