<div class="container-fluid" style="margin-top:16px;">

<h3>UI Starter Kit</h3>

<p>This is an HTML5 framework providing Allscripts common styles, behaviors, graphics, fonts, and UI components in a ready-to-use kit. This
  was created to facilitate a development team implementing designs by relieving them of much of the repetitive coding that can
  occur across projects.</p>


<h4>The starter kit answers these questions that a developer may have:</h4>
<ul>
  <li>How do I choose the appropriate combination of libraries up and down the web stack?  There are so many out there today for web apps.</li>
  <li>Does Allscripts have a strategy for how to develop web UI's consistently across the company? It seems like development teams are duplicating effort by choosing different technologies and  re-creating common resources for each project, both in the UI and in the authentication layer. Can teams instead share the resources that all projects would have in common?</li>
  <li>Fluency in web UI technologies; my developers are more oriented toward back end development and server side UI rendering. </li>
  <li>My team doesn't have enough time to focus on all of the pieces of the UI: trying to figure out how to create the correct styling, where to get images/icons and how to integrate those correctly.</li>
  <li>How are web applications built and deployed? What are the best practices to get the best performance?</li>
</ul>


<h4>Main benefits of the starter kit:</h4>
<ul>
  <li>The UI Starter Kit is a working project out of the box</li>
  <li>Uses the Angular CLI, so developers can take advantage of all Angular CLI functionality.</li>
  <li>Hit the ground running and focus on the product requirements, not the boiler plate of the UI solution.</li>
  <li>UX styles are built into the kit.  I translated the UI style guide into working code, so developers don't have to.   The UX graphical assets are included and the UX component styling has been applied to the default Bootstrap styles.</li>
  <li>"Cafeteria" model. Use only the parts that are useful to you, and leave the rest. The kit is intentionally NOT a prescriptive model that a team would have to commit to.</li>
</ul>



<h4>Kendo UX Theme</h4>

<p>Some of the development teams use Kendo UI, and so I created a custom Kendo UI theme to align with the UX Visual Guidelines.</p>


<h4>UX Common Icons</h4>

<p>Our UX team has created numerous icons that are used across all of our products.</p>
<p>I transformed these icons into a web font (e.g., like FontAwesome), along with all of the necessary css classes to use our common
  icons. </p>


<h4>Fonts</h4>

<p>Our team wanted to ensure a consistent typography across applications, and chose Roboto as the font we would recommend. Typically, a web application
  may simply link to the Google fonts site to get the needed web font files. However,  many clients
  that use our products are not directly connected to the Internet. So I was able to obtain
legal approval to distribute the font files with the web application to ensure the fonts would be available.</p>
</div>