
<!-- desktop -->
<div class="fixed-app-header d-none d-md-block">
  <div id="header" style="position: fixed; top:0; right:0; "></div>
  <img style="position: fixed; top:0; left:0;width: 300px;" src="./assets/images/myname-textonly.svg" />
</div>


<!-- mobile -->
<div class="fixed-app-header d-block d-md-none">
    <div class="row">

        <div class="col col-auto"><button class="btn" style="background: transparent" (click)="showFlyOutMenu()"><img src="./assets/images/menu-1.svg" style="height: 24px;"/> </button></div>
        <div class="col"><img style="width: 250px;" src="./assets/images/myname-textonly-trimmed.svg" /></div>
    </div>

   <!--
    <div class="row justify-content-center" style="margin-left:8px;margin-right:8px;">
        <a class="col nav-btn-mobile" [ngStyle]="{'border-bottom': '4px solid ' + cfg.palette[idx]}" *ngFor="let item of cfg.labels;let idx = index"  [routerLink]="'/' + cfg.views[idx]">{{item}}</a>
    </div>
    -->
</div>

<div class="main-app-wrapper" >
<router-outlet></router-outlet>
</div>


<fly-out-panel bgColor="#333333" [clickOffToClose]="true" #flyoutPanelMenu side="left" displayType="cover" >
    <div class="container-fluid">
        <div *ngFor="let item of cfg.menu;let idx = index" style="margin-bottom:16px;" >
            <button *ngIf="!item.children" class="btn btn-link" style="font-weight: normal;font-size:24px;width:100%;text-align: left;color: white;" (mouseup)="flyoutPanelMenu.hide()" [routerLink]="'/' + item.view">{{item.label}}</button>

          <div *ngIf="item.children" style="margin-left: 12px;font-weight: normal;font-size:24px;width:100%;text-align: left;color: #777777;" >{{item.label}}</div>


          <div style="margin-left: 16px; margin-bottom:16px;" *ngIf="item.children">
                <div *ngFor="let subitem of item.children"><button class="btn btn-link" style="width:100%;text-align: left;color: white;padding-top: 8px;padding-bottom: 8px;font-size: 18px" (mouseup)="flyoutPanelMenu.hide()" [routerLink]="'/' + item.view + '/' + subitem.view">{{subitem.label}}</button></div>
            </div>
        </div>
    </div>
</fly-out-panel>
