
<div class=" story-text" style="margin-left:24px;margin-right:24px;">

  <div class="" style="margin-top: 16px;">

    <!--
    <p style="font-size:smaller;color:#999999;font-style: italic">My views on how technologies fit into our lives, and the approaches we should take to help them fit us better.</p>
-->
    <div >

    <div style=" border: 1px solid #cacaca; border-radius: 4px;margin: 8px;">
      <div style="background: #e3e3e3; padding: 4px;">Know Your Users</div>

      <div style="padding: 16px;">
      <p>The first and foremost question that I bring to any
        design: Who is using it? What is their job day-to-day, week-to-week?</p>

      <p>No design is built in a vacuum with the requirement of just being "usable".  It needs to fit the job and tasks of specific people who use it.
        Extensive user research should be the foundation of any design effort.</p>
      </div>
    </div>




    <div style="border: 1px solid #cacaca; border-radius: 4px;margin: 8px;">
      <div style="background: #e3e3e3; padding: 4px;">Understand Human Behavior</div>
      <div style="padding: 16px;">


        <p>In addition to simply understanding characteristics of users, we should understand human capabilities and limitations as well. We should understand
          how people tend to act in certain situations, regardless of their training.  As the image to the right illustrates, understanding the motivations of your users is
          imperative, as sometimes, no amount of documentation, training, or signage would overcome a poorly informed
          design.</p>
        <p>The picture below was taken at a park near my house, and I have always thought it such a great example of the importance of
          understanding users and humans in general when designing. The sign clearly states "Keep Off Slope", however, people walk right on by the sign to climb the hill. Why is that?
        What cognitive back and forth is happening? What type of design would truly deter people from walking up the slope?
        </p>

        <div style="text-align: center"><img src="./assets/images/IMG_1990_smaller-2.jpg" style="width: 90%;max-width: 330px;border: 3px solid #ffffff;margin:15px;border-radius:10px"/></div>


        <p>This psychological aspect of design is most interesting to me, which is why I pursued my doctorate in Human Factors Psychology.</p>
      </div>
    </div>


    <div style=" border: 1px solid #cacaca; border-radius: 4px;margin: 8px;">
      <div style="background: #e3e3e3; padding: 4px;">Information, Not Data</div>
      <div style="padding: 16px;">
    <p>
      Information is that which reduces uncertainty.  Data needs to be digested by the user in order to turn it
      into information.  Don't make the user do any mental gymnastics. An exercise that helps me is to anthropomorphize the software system as the user's personal human assistant, and
      think of what would be expected of the assistant. The user would expect that the assistant provide them information,
      not just data. If an assistant handed the user a large grid full of numbers, the assistant wouldn't really be doing his or her job.
      If, on the other hand, the assistant handed the user a brief report containing an intelligent interpretation of that same grid of numbers,
      that would benefit the user much more.  Too many applications give the user
      data in some visually appealing way, and mistake that for helpful information.
    </p>
      </div>
    </div>


        <div style=" border: 1px solid #cacaca; border-radius: 4px;margin: 8px;">
          <div style="background: #e3e3e3; padding: 4px;">Corvettes and Socket Wrenches</div>
          <div style="padding: 16px;">

    <p>
      Don't try to build Corvette for your users when what they really need is a socket Wrench.  And vice-versa!
      Know when you are building Corvettes and when you are building socket wrenches.  The main difference here
      is in the user needs. If the user has specific and specialized tasks and goals they are trying to achieve, and the
      goal is to optimize efficiency, that is more along the
      lines of a socket wrench.  The user should not be thinking explicitly about the product; it is a tool that helps them get the job done, and tries to stay out of their way.

    </p>
    <p>Socket Wrenches are also expected to just work. Imagine if a car mechanic had to call up tech support when something
      went wrong with one of his socket wrenches, because he could not figure out why the wrench stopped working.
      Sounds ridiculous, I know, and oversimplifies software development,
      but this is how users of many systems want the software to fit into their work or life: they want to get their task done
      without thinking about the software itself.  The 'delighter' with this kind of approach will come over time
      when the user reflects on it and realizes that it just works all of the time.
    </p>



    <blockquote>"Perfection is attained not when there is no longer anything to add, but when there is no
      longer anything to take away."
      <cite>Antoine De Saint Exupery</cite>
    </blockquote>
      </div>
    </div>



    <div style=" border: 1px solid #cacaca; border-radius: 4px;margin: 8px;">
      <div style="background: #e3e3e3; padding: 4px;">Less user interface</div>
      <div style="padding: 16px;">
        <p>
          I believe that the ultimate goal of helping users do their jobs involves a reduction of user interfaces, not creating
          new ones or even optimizing existing ones.  This may at first seem an odd point of view from someone who has been designing UI's for 20 years. What UX should be doing
          for users in the long term is to create smart systems that act as more of an intelligent assistant, removing repetitive and error prone tasks from the user, including tasks that exist because of poor user-systems design.

        </p><p>
        Know when a user interface is not appropriate for the current task: sometimes a user interface, either visual or auditory, can add resistance and friction to the user doing their task.
        Know when the less UI would be more helpful to the user. The focus is on the UX not the UI.  Often times, better understanding your users' jobs, trying to improve system predictive capability, and then simplifying the UI is more appreciated by users than a general UI with more 'knobs' to turn.

      </p><p>
        As designers, we might forget that user interfaces are not inherently part of jobs in which they are used. Computers and mobile devices are peripheral to jobs;
        they augment the essence of a job.
        Ideally, UX would add as little as possible to a user's job, and still help them be efficient, gain new insights, be less stressed, and commit fewer errors.
      </p>
      </div>
    </div>

    <div style=" border: 1px solid #cacaca; border-radius: 4px;margin: 8px;">
      <div style="background: #e3e3e3; padding: 4px;">More pragmatism, less ideology</div>
      <div style="padding: 16px;">

<!--
    <p>I try to avoid being a purist when it comes to design or implementation approaches.  If the purist approach was a winning one,
      then JavaScript would not even exist, not to mention powering all of today's web sites and apps. (good article <a href="http://www.doc4design.com/articles/still-writing-javascript/">here</a> )
      This is not to say don't have high standards, you should fight for doings things the right way, but know when to compromise in order to get the job done.
    </p>
  -->
    <p>Every design should be weighed against the skill and experience of the development
      team that will be implementing it, the company culture, the user culture (which may or may not welcome advanced concepts,
      or would welcome them but have barriers in adopting them) the project funding, and the tools and technologies that the
      dev team is using.
    </p>
<!--
    <p>
      A design cannot exist independent of the current state of technology.
      Creating a design without thinking about the technological constraints often results in that design not being realized correctly. And the
      ideal design almost never gracefully degrades when your environment doesn't allow that design to be implemented.  I do think as
      part of the very early design process, that the designers should create designs that they believe to be the ideal, free of any constraints.
      But that is a first step. Then it is the designers who should evaluate that 'perfect' design against how it would be implemented and
      adjust the design accordingly.  Do not provide the 'perfect' design to development and rely on them to adjust your design, as they
      often are not thinking about the UX implications of such changes.   In fact, the end product that you as the designer create, after
      iterating on the ideal, should be tailored to the constraints of the technologies that the product will be developed in.
    </p>
-->


    <blockquote style="margin-right: 80px;margin-bottom: 2em;">

      <p>"If it is not useful or necessary, free yourself from imagining that you need to make it.</p>

      <p>"If it is useful and necessary, free yourself from imagining that you need to enhance it by adding what is not an integral part of its usefulness or necessity.</p>

      <p>"And finally: If it is both useful and necessary and you can recognize and eliminate what is not essential, then go ahead and make it as beautifully as you can."</p>

      <cite>rule of thumb for Shaker creations, from Shaker Built by Paul Rochleau & June Sprigg</cite>

    </blockquote>


      </div>
    </div>


    <div style="border: 1px solid #cacaca; border-radius: 4px;margin: 8px;">
      <div style="background: #e3e3e3; padding: 4px;">Clicks</div>
      <div style="padding: 16px;">
    <p>When creating designs, I do not count clicks or panels or screens.  I focus on users and their comprehension of what they and the underlying system is doing,
      and the ease with which they can accomplish their tasks.
      To me, click counting is akin to saying you should take the shortest route to get to the store, when that route is known to
      be confusing to navigate and doesn’t have paved roads.   A safer, more efficient, and even enjoyable route has paved roads, good road signs,
      and is longer, but would be missed if the focus is solely on the shortest route.
    </p>

      </div>
    </div>


    <div style=" border: 1px solid #cacaca; border-radius: 4px;margin: 8px;">
      <div style="background: #e3e3e3; padding: 4px;">Sites that I enjoy / am inspired by</div>
      <div style="padding: 16px;">
          <div><a href="https://flowingdata.com/">Flowing Data</a></div>
          <div><a href="http://www.visualisingdata.com">Visualizing Data</a></div>
          <div><a href="http://junkcharts.typepad.com/">Junk Charts</a></div>
          <div><a href="https://design-milk.com/">Design Milk</a></div>
          <div><a href="http://www.betterlivingthroughdesign.com">Better Living Through Design</a></div>
      </div>
    </div>

    <div style=" border: 1px solid #cacaca; border-radius: 4px;margin: 8px;">
      <div style="background: #e3e3e3; padding: 4px;">Podcasts that I enjoy</div>
      <div style="padding: 16px;">
          <div><a href="https://www.npr.org/podcasts/510308/hidden-brain">Hidden Brain</a></div>
          <div><a href="https://www.wnycstudios.org/shows/radiolab/">RadioLab</a></div>
          <div><a href="https://www.npr.org/programs/ted-radio-hour/?showDate=2018-07-20">Ted Radio Hour</a></div>
          <div><a href="https://www.npr.org/podcasts/510289/planet-money">Planet Money</a></div>
          <div><a href="https://www.prx.org/99-invisible">99% Invisible</a></div>
          <div><a href="https://www.wnycstudios.org/shows/onlyhuman">Only Human</a></div>
          <div><a href="https://www.gimletmedia.com/science-vs">Science Vs.</a></div>

      </div>
    </div>

    </div>

  </div>

</div>
