
<div class=" story-text" style="margin-left:24px;margin-right:24px;">

  <div class="" style="margin-top: 16px;">

    <p style="font-size:smaller;color:#999999;font-style: italic">My views on how technologies fit into our lives, and the approaches we should take to help them fit us better.</p>

    <div class="row flex-wrap">

    <div style="width: 450px; border: 1px solid #cacaca; border-radius: 4px;margin: 8px;">
      <div style="background: #e3e3e3; padding: 4px;">Know Your Users</div>

      <div style="padding: 16px;">
      <p>This is so ingrained in me, that it feels a bit trite to state it here. But it is definitely the first and foremost question that I bring to any
        design: Who is using it? What is their job day-to-day, week-to-week?</p>

      <p>No design is built in a vacuum with the requirement of just being "usable".  It needs to fit the job and tasks of specific people who use it.
        Extensive user research should be the foundation of any design effort.</p>
      </div>
    </div>




    <div style="width: 450px; border: 1px solid #cacaca; border-radius: 4px;margin: 8px;">
      <div style="background: #e3e3e3; padding: 4px;">Understand Human Behavior</div>
      <div style="padding: 16px;">


        <p>In addition to simply understanding characteristics of users, we have to understand human capabilities and limitations as well. We have to understand
          how people act in situations regardless of their training.  As the image to the right illustrates, understanding the motivations of your users is
          imperative, as sometimes, no amount of documentation, training, (or signage) would overcome a poorly informed
          design.</p>
        <p>The picture below was taken at a park near my house, and I have always thought it such a great example of the importance of
          understanding users and humans in general when designing. The sign states "Keep Off Slope", however, people walk right on by the sign to climb the hill.</p>

        <div style="text-align: center"><img src="./assets/images/IMG_1990_smaller-2.jpg" style="width: 90%;max-width: 330px;border: 3px solid #ffffff;margin:15px;border-radius:10px"/></div>


        <p>This psychological aspect of design is most interesting to me, which is why I pursued my doctorate in Human Factors Psychology.</p>
      </div>
    </div>


    <div style="width: 450px; border: 1px solid #cacaca; border-radius: 4px;margin: 8px;">
      <div style="background: #e3e3e3; padding: 4px;">Information Not Data</div>
      <div style="padding: 16px;">
    <p>
      Information is that which reduces uncertainty.  Data needs to be digested by the user in order to turn it
      into information.  Don't make the user do any mental gymnastics. Think of the system as the user's personal assistant, and
      how the user would expect such an assistant to help them. The user would expect that the assistant provide them information,
      not just data. If an assistant handed the user a large grid full of numbers, the user would probably get a bit miffed that
      the assistant wasn't doing his or her job. If, on the other hand, the assistant handed the user a brief report on their
      interpretation of that same grid of numbers, that would benefit the user much more.  Too many applications give the user
      data in some visually appealing way, and mistake that for information.  Remember, if your UI is making the user do a lot
      of work to answer their questions, then you are probably giving them too much data and not enough information.
    </p>
      </div>
    </div>


        <div style="width: 450px; border: 1px solid #cacaca; border-radius: 4px;margin: 8px;">
          <div style="background: #e3e3e3; padding: 4px;">Corvettes and Socket Wrenches</div>
          <div style="padding: 16px;">

    <p>
      Don't try to build Corvette for your users when what they really need is a socket Wrench.  And vice-versa!
      Know when you are building Corvettes and when you are building socket wrenches.  The main difference here
      is in the user needs. If the user has specific tasks and goals they are trying to achieve, and thus if the
      goal of your product is to eliminate the resistance between the user and their goal, that is more along the
      lines of a socket wrench.  The user should not be thinking too much specifically about your product, but your
      product should allow them to get the job done quickly.  The 'socket wrench' can and should be intelligent, and
      could optionally appeal emotionally to the user, but ultimately should focus on staying out of the user's way.  Most of
      us in software design and development are in the business of building socket wrenches.
    </p>
    <p>Socket Wrenches are also expected to just work. Imagine if a car mechanic had to call up tech support when something
      went wrong with one of his socket wrenches, because he could not figure out why the wrench stopped working.
      Sounds ridiculous, I know, and oversimplifies software development,
      but this is how users of many systems want the software to fit into their work or life: they don't care if it's
      cool, or complex, or anything except whether it allows them to do more and better things than they could otherwise
      without them having to think about the software itself.  The 'delighter' with this kind of approach will come over time
      when the user reflects on it and realizes that it just works all of the time.
    </p>



    <blockquote>"Perfection is attained not when there is no longer anything to add, but when there is no
      longer anything to take away."
      <cite>Antoine De Saint Exupery</cite>
    </blockquote>
      </div>
    </div>



    <div style="width: 450px; border: 1px solid #cacaca; border-radius: 4px;margin: 8px;">
      <div style="background: #e3e3e3; padding: 4px;">No user interface</div>
      <div style="padding: 16px;">
        <p>
          If we think about the ultimate goal of helping users do their jobs, I think that involves elimination of user interfaces, not creating
          new ones or even optimizing existing ones.  This may at first seem an odd point of view from someone with almost 20 years of UI design experience. But if we think about what we're trying to truly do
          for users in the long term, not the short term, it would be to create smart systems that  remove tasks from the user that are repetitive,
          error prone, or simply exist because of poor user-systems design.  Smart systems would present more intelligent choices to the user and
          turn more data into information for the user to use, instead of too many systems today that present data, and require the user to try to interpret.
        </p><p>
        Know when a user interface is not appropriate for the current task: sometimes a user interface, either visual or auditory, can get in the way of a user doing their task.
        Know when the lack of a UI would be more helpful to the user. The focus is on the UX not the UI.  Often times, trying to improve system predictive
        capability and eliminating UI elements is more appreciated by users than a comprehensive UI with 'knobs' to turn.
      </p><p>
        We forget that a user interface is not inherently part of almost anyone’s job who uses it. Computers and mobile devices are essentially something
        peripheral to their job that presumably helps them accomplish their tasks. It is something that only augments the essence of their job.  As such,
        we should be seeking to ideally add nothing to users’ inherent jobs, and still achieve the best user experience; to help them be more effective,
        more efficient, gain new insights, be less stressed, commit or omit less errors.
      </p>
      </div>
    </div>

    <div style="width: 450px; border: 1px solid #cacaca; border-radius: 4px;margin: 8px;">
      <div style="background: #e3e3e3; padding: 4px;">More pragmatism, less ideology</div>
      <div style="padding: 16px;">

    <p>Don't be a purist when it comes to certain types of design or implementation approaches.  If the purist approach was a winning one,
      then JavaScript would not even exist, not to mention powering all of today's web sites and apps. (good article <a href="http://www.doc4design.com/articles/still-writing-javascript/">here</a> )
      This is not to say don't have high standards, you should fight for doings things the right way, but know when to loosen the grip a
      bit in order to get the job done.
    </p>
    <p>The pragmatic design approach is the best one.  Every design has to be weighed against the skill and experience of the development
      team that will be implementing it, the company culture, the user culture (which may either not welcome advanced concepts,
      or would welcome them but would be hesitant to adopt them) the project funding, the tools and technologies that the
      dev team is using.
    </p>

    <p>
      Your design cannot exist independent of the current state of technology.  Do not create the 'perfect' design and then determine if it can be implemented.
      Creating a design without thinking about the technological constraints often results in that design not being realized correctly. And the
      ideal design almost never gracefully degrades when your environment doesn't allow that design to be implemented.  I do think as
      part of the very early design process, that the designers should create designs that they believe to be the ideal, free of any constraints.
      But that is a first step. Then it is the designers who should evaluate that 'perfect' design against how it would be implemented and
      adjust the design accordingly.  Do not provide the 'perfect' design to development and rely on them to adjust your design, as they
      often are not thinking about the UX implications of such changes.   In fact, the end product that you as the designer create, after
      iterating on the ideal, should be tailored to the constraints of the technologies that the product will be developed in.

    </p>

    <blockquote style="margin-right: 80px;margin-bottom: 2em;">

      <p>"If it is not useful or necessary, free yourself from imagining that you need to make it.</p>

      <p>"If it is useful and necessary, free yourself from imagining that you need to enhance it by adding what is not an integral part of its usefulness or necessity.</p>

      <p>"And finally: If it is both useful and necessary and you can recognize and eliminate what is not essential, then go ahead and make it as beautifully as you can."</p>

      <cite>rule of thumb for Shaker creations, from Shaker Built by Paul Rochleau & June Sprigg</cite>

    </blockquote>
      </div>
    </div>


    <div style="width: 450px; border: 1px solid #cacaca; border-radius: 4px;margin: 8px;">
      <div style="background: #e3e3e3; padding: 4px;">More thoughts</div>
      <div style="padding: 16px;">
    <p>When creating designs, I do not count clicks or panels.  I focus on users and their comprehension of what they and the underlying system is doing,
      and the ease with which they can accomplish their tasks.
      To me, click counting is akin to saying you should take the shortest route to get to the store, when that route is known to
      be confusing to navigate and doesn’t have paved roads.   A much safer and even enjoyable route has paved roads, good road signs,
      and is longer, but that gets rejected because the focus is solely on the shortest route.
    </p>

      </div>
    </div>


    <div style="width: 450px; border: 1px solid #cacaca; border-radius: 4px;margin: 8px;">
      <div style="background: #e3e3e3; padding: 4px;">Sites that I enjoy / am inspired by</div>
      <div style="padding: 16px;">
          <div><a href="https://flowingdata.com/">Flowing Data</a></div>
          <div><a href="http://www.visualisingdata.com">Visualizing Data</a></div>
          <div><a href="http://junkcharts.typepad.com/">Junk Charts</a></div>
          <div><a href="https://design-milk.com/">Design Milk</a></div>
          <div><a href="http://www.betterlivingthroughdesign.com">Better Living Through Design</a></div>
      </div>
    </div>

    <div style="width: 450px; border: 1px solid #cacaca; border-radius: 4px;margin: 8px;">
      <div style="background: #e3e3e3; padding: 4px;">Podcasts that I enjoy</div>
      <div style="padding: 16px;">
          <div><a href="https://www.npr.org/podcasts/510308/hidden-brain">Hidden Brain</a></div>
          <div><a href="https://www.wnycstudios.org/shows/radiolab/">RadioLab</a></div>
          <div><a href="https://www.npr.org/programs/ted-radio-hour/?showDate=2018-07-20">Ted Radio Hour</a></div>
          <div><a href="https://www.npr.org/podcasts/510289/planet-money">Planet Money</a></div>
          <div><a href="https://www.prx.org/99-invisible">99% Invisible</a></div>
          <div><a href="https://www.wnycstudios.org/shows/onlyhuman">Only Human</a></div>
          <div><a href="https://www.gimletmedia.com/science-vs">Science Vs.</a></div>
          <div><a href="https://www.dancarlin.com/hardcore-history-series/">Dan Carlin's Hardcore History</a></div>
      </div>
    </div>

    </div>

  </div>

</div>
