

<div class="container-fluid">

  <h2 style="margin-bottom: 32px;">Community Configuration Manager</h2>



<p>A tool used to configure data connections between our clients and "communities", which are entities that consume and aggregate patient data.</p>


<p>The project manager contacted me about a design uplift that would involve a change in UI technology.</p>

  <img src="assets/images/ccm-legacy-app.png"/>


Obtained representative set of users to interview. Interviewed 4 users total
  Informal and exploratory, although I did start with some seed questions as stimuli:

What is a typical day?  Walk me through a good day. Walk me through a bad day.

How much of your time is spent in CCM?  Do you use it for long periods of time, or short periods of time a lot throughout the entire day.

What are your goals on a daily/weekly/etc basis?

Do you feel like you already know what needs to be done when you log into CCM? Or does CCM help you figure out what you need to do?

What other software or materials do you use to support CCM related tasks ? spreadsheets? Post it notes?




Lots and lots of notes.
<img src="assets/images/ccm-interview-notes.jpg"/>


2 primary personas

  <img src="assets/images/persona-1.png"/>
  <img src="assets/images/persona-2.png"/>
support/troubleshooting
initial configuration/maintenance



Identified around 10 major themes/opportunities from these interviews


Met again with project manager and users for an importance-difficulty ranking exercise to determine relative priorities of the themes.


Started design and prototyping work

Feature parity only in phase 1

low hanging fruit: information hierarchy, global search, responsive design


  <div>
    <img src="assets/images/ccm-home.png"/>
  </div>

next steps:
Populate with realistic data to test design at scale
User testing
Deliver design as functional prototype


</div>
