<div style="padding: 16px;">

  <h2>Employment</h2>

  <h3>Principle UX Architect, Allscripts Healthcare</h3>
  <div>Raleigh, NC January 2012 - Present</div>

  <div style="margin: 2em">
    <h4>Intellectual Property</h4>
    <div style="margin-left: 32px;">
      <p>I currently have the most invention disclosures submitted and the most patents pending/granted at Allscripts.</p>
    </div>

    <h4>Data Visualization and Analysis</h4>
    <div  style="margin-left: 32px;">
      <p>Used combination of R statistical software and d3js to create custom visualizations.</p>
      <p>One example of this is the opioid data I analyzed. There were some general questions the team was
        interested in, but were also interested in what other insights I could pull out of that data.  So, using
        R, I did the basic analyses to answer the initial questions, and also did many other analyses using many
        different perspectives of the data.  From those, we picked out the insights that would be interesting to the client.</p>
      <p>You can see the opioid analyses  <a href="/demo/opioid/opioid-basic-statistics-smaller.html">here</a>. </p>

    </div>

    <h4>Web UI Development</h4>
    <div style="margin-left: 32px;">
      <p>Created advanced user interface
        proof-of-concept applications using Angular and D3js. These applications illustrated
        that particular UI designs were technologically feasible using HTML5, Javascript, and SVG, and also how
        the designs could realistically be implemented.
      </p>
      <p>Also used  Ruby on Rails, Server-side Swift, and Java to create web
        API's for those applications. One example of this is the <a routerLink="/patient-generator">patient record generator</a>.</p>

      <p><a routerLink="/starter-kit">The UI Starter Kit</a> is another example of Web Development, and goes beyond just a single application; it is an
        architecture that helps teams
        across the company better do web development for their products.</p>
    </div>

    <h4>User research</h4>
    <div style="margin-left: 32px;">

      <p>Shadowed nurses in hospital settings to gather user requirements a mobile nursing application</p>
      <p>Shadowed family physicians for a natural language processing dictation EHR feature</p>
      <p>Interviewed third-party developers to understand their usage of Allscripts application interfaces.</p>
      <p>Interviewed medical practice patient portal administrators to gather requirements for our portal
        administrative console.</p>


    </div>


    <h4>User Testing</h4>
    <div style="margin-left: 32px;">
      <p>On-site usability testing at multiple sites across the U.S. for a homecare mobile application.</p>
      <p>Tested new designs for patient portal administrative application. </p>
      <p>Numerous formative usability tests for most of the designs I worked on.</p>

    </div>

  </div>

  <h3 style="margin-top: 2em;">Human Factors Engineer, IBM Corporation</h3>

  <div>Research Triangle Park, NC May 2004 - January 2012</div>

  <div style="margin: 2em;">

    <p>Achieved IBM Master Inventor status. Inventor and/or co-inventor on 25 United States patents.</p>

    <p>As mobile was becoming a serious platform, I gained fluency in mobile application
      design, mobile web UI frameworks, technologies for cross-platform deployment (i.e., mobile web), mobile specific usability and user interface design best practices.
      The huge design shift caused by mobile was great as it forced me to break out of all of the more traditional design
      techniques I had been using (and taking for granted) for desktop applications.
    </p>

    <p>Planned and conducted usability tests
      with customers; presented results to software developers and project managers; worked to get improved designs into the products.</p>
    <p>Created high fidelity design prototypes using the Dojo javascript toolkit</p>
    <p>2008-2011: User Centered Design Lead for
      System x server systems management tools, including Integrated Management Module, Bootable Media
      Creator, UpdateXpress System Pack Installer and BladeCenter Start Now Advisor (SNA). Aided in software
      architecture of SNA as well as leading the UI design. Awarded employee excellence award for my work on
      SNA.</p>
    <p>2005-2008: User Centered Design Lead for
      IBM BladeCenter software, including Advanced Management Module (AMM) and RSA-II web consoles.</p>
    <p>2004-2005: User Centered Design Lead for
      storage system software (TotalStorage Productivity Center)</p>
  </div>

  <h3>Senior Human Factors Consultant, Booz | Allen | Hamilton</h3>
  <div>Hampton, VA May 2002 - May 2004</div>

  <div style="margin: 2em">
    <p>On site at NASA Langley Research Center for future airspace concept, Distributed Air/Ground Traffic Management (DAG-TM) Free Flight. Human factors research on the cockpit display specifications and procedures</p>

    <p>Prototyping, user testing, and specifications for free flight navigation display and primary flight display symbology</p>

    <p>Data management, data reduction, and statistical analyses on experimental results</p>

    <p>Experimental design and airspace scenario development</p>
  </div>


  <h3>Database Designer/Manager, Social Science Research Center</h3>
  <div>Norfolk, VA March 2000 - May 2002</div>
  <div style="margin: 2em">
    <p>Created and managed both Microsoft Access and Borland Delphi databases used by 40 different state agencies;
      provided technical support and maintained web site for the databases.</p>

    <p>User interface design for web database application.</p>

    <p>Gathered user requirements / feedback on interface prototypes through usability testing sessions.</p>

    <p>Packaged and deployed databases to customers using InstallShield</p>


    <h4>Software Consultant, NASA Langley Research Center</h4>
    <div>Hampton, VA. January 2000 - August 2001</div>

    <p>Created software to collect and analyze human electroencephalographic (EEG) and heart rate data in real time</p>

    <p>Used Borland Delphi and the Microsoft Component Object Model (COM) technology to create a COM server
      application capable of interfacing with many programming languages.</p>

    <p>Deployed the software solution on CD-ROM using InstallShield software.</p>
  </div>

  <h3>Human Factors Engineer, IBM Corporation, Santa Teresa Laboratory</h3>
  <div>San Jose, CA. Internship: June 1999-December 1999</div>
  <div style="margin: 2em">
    <p>Developed User Task Analysis for IBM e-commerce mainframe administration application; prototyped new user
      interfaces using Java applets and HTML</p>

    <p>Conducted usability testing on IBM IMS database administration software. Modified Java code as user testing
      identified problems and opportunities</p>

    <p>Developed a preliminary DB2 UDB Web Server Application, using SQL and Net.Data macros</p>

    <p>Conducted human factors evaluation and expert review of a new graphical tool for building mainframe code
      testing applications; worked with development team in iterative design to ensure high usability.</p>

  </div>

  <h3>Researcher, Graduate Student Researchers Program (GSRP), NASA Langley Research Center</h3>
  <div>, Hampton, VA. July 1998 - July 1999</div>

  <div style="margin: 2em">
    <p>Received a renewable twelve-month federal grant to independently design and conduct psychological experiments
      in adaptive automation</p>
  </div>

  <h4>Application Developer</h4>
  <div>September 1997 - July 1999</div>
  <div style="margin: 2em">
    <p>Consulted with psychology professors at three different universities (William and Mary, Virginia Commonwealth, and Old Dominion)</p>

    <p>Designed custom, Windows-based computer programs in Delphi and Visual Basic for psychological experiments</p>

  </div>


  <h3>Human Factors Consultant, Virginia Modeling, Analysis, and Simulation Center (VMASC)</h3>
  <div>Suffolk, VA. November 1997 - July 1998</div>
  <div style="margin: 2em">
    <p>Helped to design a unique user interface for a high technology information kiosk for the United States
      Atlantic Command (USACOM) Joint Training, Analysis, and Simulation Center (JTASC)</p>

    <p>Created a Borland Delphi database application that organized, stored, and retrieved data such as images,
      movies, and sound clips</p>
  </div>
</div>