
@import '~bootstrap/scss/bootstrap.scss';
@import "./mixins";
@import 'fly-out-panel';

$font-family-sans-serif: Montserrat, sans-serif; //, Helvetica, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;

html {
    font-size: 16px;
}


a {
    color: #34779b;
    font-weight: 400;
}

body {
    font-family: $font-family-sans-serif;
    color: #464646;
    font-weight: 400;
}


.shadow {
  -webkit-box-shadow: 3px 3px 7px 1px rgba(0,0,0,0.15);
  box-shadow: 3px 3px 7px 1px rgba(0,0,0,0.15);
}



.story-text {
     //font-family: Merriweather, serif;
    font-family: $font-family-sans-serif;
     font-size: 17px;
}

h1, h2, h3, h4 {

    font-weight: 400;

}

h2 {
    font-size: 26px;
}

h3 {
  font-size: 22px;
}



h4 {
  font-size: 20px;
  font-weight: 500;
}

blockquote {
    font-family: Merriweather, serif;
    font-style: italic;
    font-weight: 300;
    display: block;
    margin-right: 80px;
    margin-bottom: 1em;
    margin-top: 1em;
    font-size: 0.9rem;
    margin-left: 32px;
    color: #666666;
    width: 65%;

    cite {
        font-style: normal;
        font-weight: 700;
        display: block;
        color: #666666;
        font-size: 0.8rem;
        margin-top: 8px;
    }
}


svg {
    .nav-btn {

        cursor: pointer;

        .nav-btn-rect {

          stroke: #d9d9d9;
          stroke-width: 1;

          -webkit-filter: drop-shadow( 3px 3px 3px rgba(0, 0, 0, .15));
          filter: drop-shadow( 3px 3px 3px rgba(0, 0, 0, .15));
          /* Similar syntax to box-shadow */

          &.selected {

            -webkit-filter: none;
            filter: none;

          }

        }

        .nav-btn-text {
            text-anchor: middle;
            fill: #343434;
            font-size: 14pt;
            font-weight: 400;
            @include no-select();
        }

    }

}

.nav-btn-secondary {

  //background: transparent;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left:16px;
  padding-right:16px;
  color: #333333;
  //border: 2px solid #e3e3e3;
 // border-top: 5px solid #e3e3e3;

  background: #e3e3e3;
  -webkit-box-shadow: 3px 3px 3px 1px rgba(0,0,0,0.15);
  box-shadow: 3px 3px 3px 1px rgba(0,0,0,0.15);




  &:hover {
    text-decoration: none;
  }

  &.active {
    background: transparent;

    color: #333333;

    -webkit-box-shadow: none;
    box-shadow: none;


 //   border: 1px solid #d9d9d9;

  }
}


//desktop
@media only screen and (min-width: 769px) {


    .fixed-app-header {
        position: fixed;
        top:0;
        left:0;
        width: 100vw;
        background: white;
        height:140px;
        z-index: 10000;
    }

    .main-app-wrapper {
        margin-top: 155px;
        margin-left:100px;
        margin-right:100px;
        margin-bottom:100px;
    }
}

.nav-btn-mobile {
    color:#464646;
    padding:4px;
    text-align: center;
    border-radius: 0;

}

//mobile
@media only screen and (max-width: 768px) {


    .fixed-app-header {

        position: fixed;
        top:0;
        left:0;
        width: 100vw;
        background: white;
        height:65px;
        z-index: 10000;



    }

    .main-app-wrapper {

        margin-top: 80px;
        margin-left: 0;
        margin-right: 0;
        //margin-bottom: 50px;
    }
}

