
<div class="container-fluid story-text" style="margin-top: 16px;" >

  <p>Welcome. My name is Todd Eischeid.</p>

  <p>There are many words I would use to describe myself: researcher, psychologist, designer, developer, inventor, musician.  I naturally think in terms of novel and creative solutions to problems, and I enjoy building and testing solutions that I create.

    <!-- An ideal job would combine my creativity, expertise in human cognition, design skills, and my software development skills. -->
  </p>
  <p>

  </p>
  <!--
  <p>
  In depth understanding of people who use the software I design, creating designs that minimize cognitive friction, and getting them as close as possible to the essence of their work.
  A user experience that balances enjoyment with inconspicuousness.
</p>
  -->
  <p>
    I possess a skill set that encompasses scientific research, design, and software development: gathering user research, design ideation, creating functional prototypes, usability testing, and contribution to the final production code.
  </p>



  <p>LinkedIn: <a href="https://www.linkedin.com/in/toddeischeid">https://www.linkedin.com/in/toddeischeid</a> </p>
  <p>Email: <a href="mailto:toddeischeid@gmail.com">toddeischeid@gmail.com</a> </p>
  <p><a href="/assets/eischeid-resume.pdf">Download Resume as PDF</a></p>
</div>
